{ %extends 'recipes_sharing/base.html' %}

{ %block content %}
    <h2>Esplora tutte le ricette presenti sul sito</h2>
    <div class="recent-recipes centere">
        {% for recipe in recipes}
        <div class="recipe-box>
            <h3><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.recipe_name }}</a></h3>
            <p><strong>Tempo di preparazione:</strong> {{ recipe.cooking_time }} minuti</p>
            <p><strong>Difficoltà:</strong> {{ recipe.get_difficulty_display }}</p>
            <p>{{ recipe.description }}</p>
            <p><strong>Likes:</strong> {{ recipe.liked_by.count }}</p>
        </div>
        { % endfor %}
{ % endblock %}